[submodule "Framework/VkClay"]
	path = Framework/VkClay
	url = https://github.com/LawG4/VkClay.git
[submodule "Framework/VkTablet"]
	path = Framework/VkTablet
	url = https://github.com/LawG4/VkTablet.git
[submodule "Framework/Ziggurat"]
	path = Framework/Ziggurat
	url = https://github.com/LawG4/Ziggurat.git
[submodule "Layer/VK_LAYER_LMG_raytracing_sim"]
	path = Layer/VK_LAYER_LMG_raytracing_sim
	url = https://github.com/LawG4/VK_LAYER_LMG_raytracing_sim.git
[submodule "Windowing/Solomon"]
	path = Windowing/Solomon
	url = https://github.com/Mesopotamic/Solomon.git
